<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<form th:method="POST" th:action="@{/users/update}" th:object="${user}">
    <label for="name">Name:</label>
    <input th:charset="utf-8" type="text" th:field="*{firstName}" id="name"/>
    <br/>
    <label for="surname">Surname:</label>
    <input th:charset="utf-8" type="text" th:field="*{lastName}" id="surname"/>
    <br/>
    <label for="age">Age:</label>
    <input th:charset="utf-8" type="text" th:field="*{age}" id="age"/>
    <br/>
    <label hidden for="id">id:</label>
    <input hidden type="text" th:field="*{id}" id="id"/>
    <br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>